.blogBody {
    margin: 0;
    padding: 0;
    background-color: grey;
    height: 100vh;
   
  }
  #blog .container #blog-row #blog-column #blog-box {
    margin-top: 60px;
    max-width: 600px;
    height: 510px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #blog .container #blog-row #blog-column #blog-box #blog-form {
    padding: 10px;
  }
  #blog .container #blog-row #blog-column #blog-box #blog-form #register-link {
    margin-top: -85px;
  }